@import "../common";

header {
    height: 100dvh;
    width: 250px;
}

body {
    padding-top: 0;
    padding-left: 250px;
    background-color: var(--green-background);
}

.green-background {
    background-color: var(--green-color);
    color: white;
}

.badge {
    font-size: 10px;
}

.text-grey-900 {
    color: #111928;
}

.text-grey-500 {
    color: #6B7280;
}

.back-grey-50 {
    background-color: #F9FAFB;
}

.bg-red {
    background-color: #FF6C75;
}

.search-box {
    border-radius: 8px;
    background-color: #F9FAFB;
    border: 1px solid #D1D5DB;
    input {
        &:focus {
            box-shadow: none;
        }
    }
}

.rounded-badge {
    background-color: #DEF7EC;
    color: #03543F;
}

input {
    &::placeholder {
        color: #ACB6BE;
    }
}
