@import "dashboard";

.text-2xs {
    font-size: .53rem;
    line-height: 0.75rem;
}

main {
    table {
        tr {
            border-bottom: #6B7280 solid 1px;
        }
        td {
            &:first-child {
                width: 0;
                white-space: nowrap;
            }
        }
        .no-spin::-webkit-inner-spin-button,
        .no-spin::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin-right: 0;
            -moz-appearance:textfield;
        }
    }
    .omission {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .toastui-editor-tooltip .text {
        color: white;
    }
    .tellers {
        .preview {
            background-size: cover;
            background-position: center;
        }
        .container {
            * {
                color: white;
            }
        }
    }
}

footer {
    position: fixed;
    top: 0;
    right: 0;
}
