@import "../common";

:root {
    --default-font-color: #586C61;
}

* {
    color: var(--default-font-color);
}

header {
    height: 100dvh;
    width: 250px;
}

body {
    padding-top: 0;
    padding-left: 250px;
}
