@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Roboto:wght@400;700&display=swap");
@import "/resources/css/app.css";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "@toast-ui/editor/dist/toastui-editor-viewer.css";
:root {
  --mieet-color: #B5DECC;
  --green-background: #F2FAF6;
  --green-color: #73CF98;
  --default-font-color: #111928;
}

* {
  font-family: "Noto Sans JP", sans-serif;
  color: var(--default-font-color);
}

.z-60 {
  z-index: 60;
}

.z-70 {
  z-index: 70;
}

.z-80 {
  z-index: 80;
}

.z-90 {
  z-index: 90;
}

.z-100 {
  z-index: 100;
}

.z-110 {
  z-index: 110;
}

.z-120 {
  z-index: 120;
}

.z-130 {
  z-index: 130;
}

.z-140 {
  z-index: 140;
}

.z-150 {
  z-index: 150;
}

.z-160 {
  z-index: 160;
}

.z-170 {
  z-index: 170;
}

.z-180 {
  z-index: 180;
}

.z-190 {
  z-index: 190;
}

.z-200 {
  z-index: 200;
}

.z-210 {
  z-index: 210;
}

.z-220 {
  z-index: 220;
}

.z-230 {
  z-index: 230;
}

.z-240 {
  z-index: 240;
}

.z-250 {
  z-index: 250;
}

.z-260 {
  z-index: 260;
}

.z-270 {
  z-index: 270;
}

.z-280 {
  z-index: 280;
}

.z-290 {
  z-index: 290;
}

.z-300 {
  z-index: 300;
}

.z-310 {
  z-index: 310;
}

.z-320 {
  z-index: 320;
}

.z-330 {
  z-index: 330;
}

.z-340 {
  z-index: 340;
}

.z-350 {
  z-index: 350;
}

.z-360 {
  z-index: 360;
}

.z-370 {
  z-index: 370;
}

.z-380 {
  z-index: 380;
}

.z-390 {
  z-index: 390;
}

.z-400 {
  z-index: 400;
}

.z-410 {
  z-index: 410;
}

.z-420 {
  z-index: 420;
}

.z-430 {
  z-index: 430;
}

.z-440 {
  z-index: 440;
}

.z-450 {
  z-index: 450;
}

.z-460 {
  z-index: 460;
}

.z-470 {
  z-index: 470;
}

.z-480 {
  z-index: 480;
}

.z-490 {
  z-index: 490;
}

.z-500 {
  z-index: 500;
}

.z-510 {
  z-index: 510;
}

.z-520 {
  z-index: 520;
}

.z-530 {
  z-index: 530;
}

.z-540 {
  z-index: 540;
}

.z-550 {
  z-index: 550;
}

.z-560 {
  z-index: 560;
}

.z-570 {
  z-index: 570;
}

.z-580 {
  z-index: 580;
}

.z-590 {
  z-index: 590;
}

.z-600 {
  z-index: 600;
}

.z-610 {
  z-index: 610;
}

.z-620 {
  z-index: 620;
}

.z-630 {
  z-index: 630;
}

.z-640 {
  z-index: 640;
}

.z-650 {
  z-index: 650;
}

.z-660 {
  z-index: 660;
}

.z-670 {
  z-index: 670;
}

.z-680 {
  z-index: 680;
}

.z-690 {
  z-index: 690;
}

.z-700 {
  z-index: 700;
}

.z-710 {
  z-index: 710;
}

.z-720 {
  z-index: 720;
}

.z-730 {
  z-index: 730;
}

.z-740 {
  z-index: 740;
}

.z-750 {
  z-index: 750;
}

.z-760 {
  z-index: 760;
}

.z-770 {
  z-index: 770;
}

.z-780 {
  z-index: 780;
}

.z-790 {
  z-index: 790;
}

.z-800 {
  z-index: 800;
}

.z-810 {
  z-index: 810;
}

.z-820 {
  z-index: 820;
}

.z-830 {
  z-index: 830;
}

.z-840 {
  z-index: 840;
}

.z-850 {
  z-index: 850;
}

.z-860 {
  z-index: 860;
}

.z-870 {
  z-index: 870;
}

.z-880 {
  z-index: 880;
}

.z-890 {
  z-index: 890;
}

.z-900 {
  z-index: 900;
}

.z-910 {
  z-index: 910;
}

.z-920 {
  z-index: 920;
}

.z-930 {
  z-index: 930;
}

.z-940 {
  z-index: 940;
}

.z-950 {
  z-index: 950;
}

.z-960 {
  z-index: 960;
}

.z-970 {
  z-index: 970;
}

.z-980 {
  z-index: 980;
}

.z-990 {
  z-index: 990;
}

.z-1000 {
  z-index: 1000;
}

.noto-sans {
  font-family: "Noto Sans JP", sans-serif;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.text-mieetcolor {
  color: var(--mieet-color);
}

.bg-mieetcolor {
  background-color: var(--mieet-color);
}

.text-green-color {
  color: var(--green-color);
}

.bg-greencolor {
  background-color: var(--green-color);
}

header {
  height: 60px;
}
header a {
  width: fit-content;
}

body {
  padding-top: 60px;
}

#loading {
  transition: all 0.5s;
}
#loading .ring {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  background: transparent;
  border: 3px solid #3c3c3c;
  border-radius: 50%;
  text-align: center;
  align-items: center;
  line-height: 150px;
  font-family: sans-serif;
  font-size: 20px;
  color: var(--mieet-color);
  letter-spacing: 2px;
  text-transform: uppercase;
  text-shadow: 1px 2px 10px var(--mieet-color);
  box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.5);
  background: linear-gradient(0deg, #333, #000);
  box-shadow: 0 0 0 4px #353535, 0 0 0 5px #3e3e3e, inset 0 0 10px rgb(0, 0, 0), 0 5px 20px rgb(0, 0, 0), inset 0 0 15px rgba(0, 0, 0, 0.2);
}
#loading .ring:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 3px solid transparent;
  border-top: 3px solid var(--mieet-color);
  border-right: 3px solid var(--mieet-color);
  border-radius: 50%;
  animation: animateCircle 2s linear infinite;
}
#loading .ring span {
  display: block;
  position: absolute;
  top: calc(50% - 2px);
  left: 50%;
  width: 50%;
  background: transparent;
  height: 4px;
  transform-origin: left;
  animation: animate 2s linear infinite;
}
#loading .ring span:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: var(--mieet-color);
  top: -6px;
  right: -8px;
  box-shadow: 0 0 20px var(--mieet-color);
}

@keyframes animateCircle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}
.text-grey-500 {
  color: rgb(107, 114, 128);
}

.mieet-border {
  border: solid var(--mieet-color) 3px;
}

#container {
  padding-bottom: 52px;
}

#filter {
  height: calc(100dvh - 112px);
}

#tellers .swiper-slide {
  width: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#tellers .swiper-slide img {
  width: 58px;
  height: 58px;
  object-fit: cover;
  border: solid var(--mieet-color) 3px;
}
#tellers .swiper-slide img.viewed {
  border-color: lightgrey;
}
#tellers .swiper-slide:first-child {
  margin-left: 10px;
}
#tellers .company-name {
  font-size: 0.5rem;
  width: 66px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#modalEl {
  height: 100dvh;
}
#modalEl * {
  color: white;
}
#modalEl .company-footer a {
  background-color: rgba(255, 255, 255, 0.4);
}
#modalEl .company-img {
  width: 36px;
  height: 36px;
  object-fit: cover;
  border: solid var(--mieet-color) 3px;
}
#modalEl #tellerSwiper .swiper-slide {
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
  display: flex;
}
#modalEl .content-container {
  height: calc(100dvh - 250px);
}
#modalEl .content-container .content {
  height: calc(100dvh - 290px - 0.7rem);
  overflow: auto;
}

#posts .posts-header .logo {
  object-fit: cover;
  border: solid var(--mieet-color) 3px;
}
#posts .posts-body .posts-img-container {
  width: 100%;
}
#posts .posts-body .posts-img-container::before {
  content: "";
  display: block;
  padding-top: 100%;
}
#posts .posts-body .posts-img-container .posts-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#posts .posts-body .posts-content {
  width: 100%;
}
#posts .posts-body .posts-content div {
  text-wrap: wrap;
}
#posts .posts-body .posts-content.folded {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.follow-btn {
  cursor: pointer;
}
.follow-btn.followed {
  background-color: hotpink;
  color: white;
  border: none;
}

/*# sourceMappingURL=recruit.css.map */
